#git仓库的协议，可配置git、或http
#如果配置http，请配置仓库密码
#如果配置git，请确定电脑上已配置好相关的认证
GIT_PROTOCOL=git
GIT_PATH=
GIT_USERNAME=
GIT_PASSWORD=

#签名文件信息
STORE_FILE=
KEY_ALIAS=
STORE_PASSWORD=
KEY_PASSWORD=

#如需发布到360应用市场，请配置360开发者平台的账号信息进行加固
360_ACCOUNT=
360_PASSWORD=

#使用AndResGuard混淆资源文件
#如果需要使用，请按照官方文档配置app/build.gradle
USE_RES_GUARD=false

#选择渠道包输出工具(1:walle,2:packer-ng)
MARKET_TOOL_TYPE=1
#渠道列表
MARKET_FILE=./markets.txt
