GIT_SERVER=
GIT_USERNAME=
GIT_PASSWORD=

#签名文件信息
STORE_FILE=
KEY_ALIAS=
STORE_PASSWORD=
KEY_PASSWORD=

#使用AndResGuard混淆资源文件
#如果需要使用，请按照官方文档配置app/build.gradle
USE_RES_GUARD=false

#是否使用tinker
USE_TINKER=false

#360开发者账号
360_ACCOUNT=
360_PASSWORD=

#腾讯云api key
t_cloud_api=
t_cloud_secret=

#使用的加固工具，0:不使用加固，1：360，2：乐固
TYPE_JIAGU=0

#选择渠道包输出工具(0:不输出渠道包，1:walle,2:packer-ng)
MARKET_TOOL_TYPE=0

#application所在module名称，默认为app
MODULE_APP=app

#FTP文件服务器
FTP_SERVER=
FTP_PORT=
FTP_ACCOUNT=
FTP_PASSWORD=
FTP_TMP_DIR=
FTP_DIR=
